POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=nombreDB

JWT_SECRET=secret24234234
JWT_EXPIRATION=86400000
JWT_REFRESH_EXPIRATION=604800000
JPA_DDL_AUTO=update

MAIL_USERNAME=correo@gmail.com
MAIL_PASSWORD=alumano123

BUCKET_NAME=musicmatch-images
AWS_REGION=us-east-1

FRONTEND_URL=http://localhost:5173
SPOTIFY_CLIENT_ID=your_spotify_client_id
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret

